body{
    padding:0;
    margin:30px;
    background-color:#CEE3F6;
}

h1
{
    font-size:35px;
    text-align:center;
    font-family:Rekha;
    font-style:italic;
    color:#585858;
}

#historique{
    min-width: 50%;
    min-height: 30%;
    margin: auto;
    display: block;
    max-width: 50%;
    max-height: 70%;
    resize: none;
    background-color:#A9D0F5;
    color:#585858;
}

#user_input{
    padding-top:10px;
    width: auto;
    display: block;
    margin:auto;
    text-align: center;
}

#user_input #user_input_text{
    width: 40%;
}

#div_def_submit_voir{
    width: 100%;
    border: none;
    background-color: white;
}

#div_def_submit_voir:hover{
    border: solid 0.5px blue;
}

#div_def
{
    width: 100%;
}

#div_def_cle
{
    margin: 3px;
    width: 32%;
}

#div_def_def
{
    margin: 3px;
    width: 32%;
}

#div_def_dep
{
    margin: 3px;
    width: 32%;
}

.div_def_para{
    width: 100%;
}

#dl
{
    float:right;
}

#div_modif
{
    margin-top:30px;
    margin-bottom:30px;
}

#sign
{
    float:right;
    font-size:12px;
    font-family:Rekha;
}
