body{
    padding:0;
    margin:30px;
    background-image:url("images/background.jpeg");
    margin-top:0;
}

#titre
{
    font-size:35px;
    text-align:center;
    font-family:Verdana;
    font-style:italic;
    color:#D8D8D8;
    margin-top:0;
}

#historique{
    min-width: 50%;
    min-height: 30%;
    margin: auto;
    display: block;
    max-width: 50%;
    max-height: 70%;
    resize: none;
    background-color:#E6E6E6;
    color:#585858;
}

a
{
    text-decoration:none;
    color:#D8D8D8;
}

#bloc_menu
{
    width:20%;
    position:relative;
}

#menu
{
    position:absolute;
    width:100%;
    color:#D8D8D8;
	padding:0;
	font-family:Verdana;
	margin:0;
}

#menu li
{
    list-style:none;
    height:40px;
    font-size:20px;
    font-family:Verdana;
    border-top:1px solid white;
    width:100%;
    text-align:center;
}

#menu li:last-child
{
	border-bottom:1px solid white;
}


#user_input{
    padding-top:10px;
    width: auto;
    display: block;
    margin:auto;
    text-align: center;
}

#user_input #user_input_text{
    width: 40%;
}

#div_def_submit_voir{
    width: 100%;
    border: none;
    background-color: #E6E6E6;
}

#div_def_submit_voir:hover{
    border: solid 0.5px #585858;
}

#file_user_export
{
    color:#D8D8D8;
}

#div_def
{
    width: 100%;
}

#div_def_cle
{
    margin: 3px;
    width: 22%;
}

#div_def_def
{
    margin: 3px;
    width: 48%;
}

#div_def_dep
{
    margin: 3px;
    width: 20%;
}

.div_def_para{
    width: 100%;
}

#dl
{
    float:right;
}

#div_modif
{
    margin-top:30px;
    margin-bottom:30px;
}

#sign
{
    float:right;
    font-size:12px;
    font-family:Rekha;
}

#hp img
{
    width:40px;
    position:fixed;
    bottom:0;
    right:0;
    margin-top:30px;
    margin-bottom:30px;
    opacity: 0.7;
}



#bloc_menu_tuto
{
    width:15%;
    position:relative;
	margin-bottom:50px;
	height:100px;
}

#menu_tuto li:last-child
{
	border-bottom:1px solid white;
}

#menu_tuto
{
    width:100%;
    color:#D8D8D8;
	padding:0;
	font-family:Verdana;
	margin:0;
	height:120px;
}

#menu_tuto li
{
    list-style:none;
	height:60px;
    font-size:20px;
    font-family:Verdana;
    border-top:1px solid white;
    width:100%;
    text-align:center;
}

.titre_div_1
{
	color:#D8D8D8;
	font-size:25px;
	text-align:center;
}

.titre_div
{
	color:#D8D8D8;
	font-size:20px;
	text-align:center;
}

.cellule img
{
	padding:0;
	border:3px solid black;
}

.cellule
{
	padding:0;
	color:#D8D8D8;
	border:2px solid white;
	font-family:Verdana;
	text-align:center;
}

.legende
{
    margin:0;
}


table
{
	width:67%;
	margin:0 auto;
	margin-top:30px;
}
