body{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

#historique{
    min-width: 50%;
    min-height: 30%;
    margin: auto;
    display: block;
    max-width: 50%;
    max-height: 70%;
    resize: none;
}

#user_input{
    padding-top:10px;
    width: auto;
    display: block;
    margin:auto;
    text-align: center;
}

#user_input #user_input_text{
    width: 40%;
}

#div_def_submit_voir{
    width: 100%;
    border: none;
    background-color: white;
}

#div_def_submit_voir:hover{
    border: solid 0.5px blue;
}

#div_def
{
    width: 100%;
}

#div_def_cle
{
    margin: 3px;
    width: 32%;
}

#div_def_def
{
    margin: 3px;
    width: 32%;
}

#div_def_dep
{
    margin: 3px;
    width: 32%;
}

.div_def_para{
    width: 100%;
}